@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "variables";


/*-------------------------------FOOTER ST-----------------------------*/

.footerBrandText {
  color: #898989;
  font-size: $mainFontSize;
  font-weight: 300;
  line-height: 24px;

  @media (max-width: 768px) {
    font-size: $titlesFontSize;
  }
}

.footerColumn {

  @media (max-width: 575px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 18px;
    font-weight: 700;
    color: $mainColor;
  }

  a {
    display: block;
    color: #898989;
    font-size: $titlesFontSize;
    text-decoration: none;

    &:first-child {
      padding-top: 1rem;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }

    &:first-child {
      @media (max-width: 470px) {
        padding-top: 1rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &:hover {
      color: $mainColor;
    }
  }
}

.bottomNavXS {
  h2 {
    font-size: 18px;
    font-weight: 700;
    color: $mainColor;
  }
}

/*-------------------------------FOOTER END-----------------------------*/

.BgCopyrights {
  background-color: $inputColorBorder;
}

.copyrights {

  div {
    color: #7a7a7a;
    font-size: $titlesFontSize;
    font-weight: 400;
    line-height: 42px;
  }

  a {
    margin-left: 0.5rem;
    padding: 8px 12px;
    font-weight: 400;
    border: none;
    outline: none;
    @include button($btnIconsTextAndBgColor, #b2b2b2);
    cursor: pointer;

    @media (max-width: 575px) {
      font-size: 25px;
      justify-content: space-between;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      @include button($mainColor, $btnIconsTextAndBgColor);
    }
  }
}
