@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


///*-------------------------------HEADER ST-----------------------------*/


.logo {

  @media (max-width: 575.98px) {
    margin: auto;
  }

  a {
    text-decoration: none;
  }

  .brand {
    color: $colorText;
    font-size: 27px;
    font-weight: 300;
    line-height: 3.43rem;
    text-transform: uppercase;
    letter-spacing: 0.68px;

    span {
      font-weight: 400;
      color: $mainColor;
    }
  }
}

.headerAccountAndCart {
  @media (max-width: 526px) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  @media (max-width: 350.98px) {
    flex: none;
  }
}


.dropdown {

  .btn-lg {
    position: relative;
    padding: 0.15rem .75rem;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
  }

  .dropdown-menu {
    background-color: #ffffff;
    width: 250px;

    div {
      color: #232323;
      font-size: 14px;
      font-weight: 400;
      line-height: 32px;
      text-transform: uppercase;
      letter-spacing: 0.35px;
      margin: 0 1.5rem;
      border-bottom: 1px solid $lineColor;
      width: auto;
      padding: 1rem 0 0 0;

      &:hover {
        background-color: #ffffff;
      }

      &:first-child {
        padding-top: 0;
      }
    }

    div:first-child {
      padding-top: 0;
    }


    a {
      color: #4f4f4f;
      font-size: $mainFontSize;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.35px;
      padding: 0.2rem 2rem;
    }
  }
}

.dropdown-toggle::after {
  color: #838383;
  font-weight: 400;
  line-height: 2rem;
  vertical-align: .150em;
}


.dropdown:last-child, .dropdown:nth-child(2) {

  button {
    border-right: 1px solid $mainColor;
    @include button($mainColor, $btnIconsTextAndBgColor);

    &:hover {
      @include button(#cccccc, #222222);
    }
  }

  .dropdown-toggle::after {
    color: $btnIconsTextAndBgColor;
  }

  .dropdown-menu {
    padding: 0;

    button:hover {
      @include button(#cccccc, $colorText)
    }
  }
}

.btn-secondary {
  border-radius: 3px;
  border: 1px solid $inputColorBorder;
  background-color: #f6f6f6;
  border-right: none;

  &:hover {
    color: #fff;
    background-color: $mainColor;
    border-color: $mainColor;
  }
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background-color: $mainColor;
  border-color: $mainColor;
}

.form-control {
  border-radius: 0;
  border-bottom: 1px solid $inputColorBorder;
  border-top: 1px solid $inputColorBorder;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: $mainColor;
    outline: 0;
    box-shadow: none;
  }

  &::placeholder {
    color: $caretDown;
    font-size: $mainFontSize;
    font-weight: 300;
    line-height: 32px;
  }
}


.btn-outline-secondary {
  color: $caretDown;
  border-color: $inputColorBorder;
  border-left: none;

  &:hover {
    color: #fff;
    background-color: $mainColor;
    border-color: $mainColor;
  }
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: $mainColor;
  border-color: $mainColor;
}


.form-control:focus + .input-group-append > button {
  border-color: $mainColor;
}

.burgerMenu {
  font-size: 20px;
}

.headerLine {
  border-bottom: 1px solid $lineColor;
}

.nav {
  padding-left: 15px;

  .navAll {

    &:nth-child(3) .dropNav {
      right: 1px;
    }

    &:nth-child(4) .dropNav {
      right: 1px;
    }

    &:nth-child(5) .dropNav {
      right: 1px;
    }

    &:nth-child(6) .dropNav {
      right: 1px;
    }

    &:nth-child(7) .dropNav {
      right: 1px;
    }

    .dropNav {
      display: none;
      position: relative;
      border: 1px solid #cccccc;

      .dropNavIn {
        display: flex;
        flex-direction: column;
        z-index: 5;
        background-color: #ffffff;
        padding-bottom: 1rem;

        div {
          color: #232323;
          font-size: 14px;
          font-weight: 700;
          line-height: 32px;
          text-transform: uppercase;
          letter-spacing: 0.35px;
          margin-left: 1.5rem;
          border-bottom: 1px solid $lineColor;
          width: auto;
          padding-top: 1rem;
          padding-right: 180px;
          margin-right: 1.5rem;
        }
          &:last-child {
            padding-right: 0;
            margin-left: 0;

            a:last-child {
              position: relative;
              padding-top: 1rem;

              img:hover {
                outline: 1px solid $mainColor;
              }

              div {
                position: absolute;
                color: #ffffff;
                font-size: 22px;
                font-weight: 700;
                line-height: 28px;
                text-transform: uppercase;
                border-bottom: none;
                bottom: 10px;
                left: 150px;
                padding-right: 0;
              }

              &:hover {
                background-color: #ffffff;
              }
            }
        }

        a {
          color: #4f4f4f;
          font-size: $mainFontSize;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.35px;
          text-decoration: none;
          border-bottom: none;
          padding: 0.2rem 1.5rem;
          text-transform: capitalize;

          &:hover {
            background-color: #cccccc;
          }
        }

        &:first-child a {
          padding-top: 0.3rem;
        }
      }
    }

    &:hover .dropNav {
      display: flex;
      position: absolute;
    }
  }

  a {
    color: $colorText;
    font-size: $mainFontSize;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 20px;

    &:hover {
      color: $mainColor;
      border-bottom: 3px solid $mainColor;
      padding-bottom: calc(20px - 3px);
    }
  }
}

.headerCart {
  position: relative;

  &:hover .headerCartWrap {
    display: block;
    z-index: 2;
  }

  .headerCartWrap {
    position: absolute;
    width: 260px;
    left: -40px;
    display: none;

    @media (max-width: 650px) {
      left: -120px
    }

    .headerCartWrapBlock {
      height: 15px;
    }

    .headerCartWrapInAll {
      background-color: $btnIconsTextAndBgColor;
      padding: 1rem 1rem;
      border:  1px solid rgba(0,0,0,.15);
      border-radius: 5px;

      .headerCartWrapIn {
        margin-bottom: 1rem;
      }

      div {
        justify-content: space-between;
        align-items: center;

        a:last-child {
          color: #c0c0c0;
          font-size: $titlesFontSize;
          font-weight: 400;
          text-transform: uppercase;

          &:hover {
            color: $mainColor;
          }
        }

        a {
          text-decoration: none;

          div {
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            justify-content: space-around;
            display: flex;
            flex-direction: column;
            align-items: start;

            &:first-child {
              color:$colorText;
              font-weight: 700;

            }

            &:last-child {
              color: #f16d7f;
            }

            span {
              color: #e4af48;
            }

            .headerCartWrapPrice {
              color: #f16d7f;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: row;

              span {
                text-transform: lowercase;
                font-size: 10px;
                padding: 0 0.3rem;
              }
            }
          }

          img {
            padding-right: 0.5rem;
          }
        }
      }

      .headerCartWrapTotalPrice {
        display: flex;
        justify-content: space-between;
        color: $colorText;
        font-size: $titlesFontSize;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
    }


.productsButtonIndex {
  width: -webkit-fill-available;
  margin-top: 1rem;

  &:last-child {
    color: #4a4a4a;
    font-size: $mainFontSize;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
  }
}


///*-------------------------------HEADER End-----------------------------*/

