@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*-------------------------------ALSO END-----------------------------*/
.carousel {
  background-color: #f7f7f7;
  height: 777px; }
  .carousel .carousel-item img {
    margin: auto; }

.carousel-control-prev, .carousel-control-next {
  width: auto; }
  .carousel-control-prev .carousel-control-prev-icon, .carousel-control-prev .carousel-control-next-icon, .carousel-control-next .carousel-control-prev-icon, .carousel-control-next .carousel-control-next-icon {
    width: 47px;
    height: 47px;
    background-color: #2a2a2a;
    background-size: 24px; }

.womanCollectionContainer {
  position: relative;
  top: -80px;
  background-color: #ffffff; }

.womanCollection button {
  background-color: #ffffff;
  color: #f16d7f;
  border-color: #f16d7f;
  width: -webkit-fill-available; }
  .womanCollection button:hover {
    background-color: #f16d7f;
    color: #ffffff; }
.womanCollection .womanCollectionTop {
  padding-bottom: 3rem;
  margin: 5rem 15rem; }
  @media (max-width: 1199px) {
    .womanCollection .womanCollectionTop {
      margin: 5rem 10rem; } }
  @media (max-width: 991.98px) {
    .womanCollection .womanCollectionTop {
      margin: 5rem; } }
  @media (max-width: 767.98px) {
    .womanCollection .womanCollectionTop {
      margin: 3rem; } }
  .womanCollection .womanCollectionTop .womenCollectionTitle {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase; }
    .womanCollection .womanCollectionTop .womenCollectionTitle .womenCollectionTitleBorder {
      display: flex;
      align-items: center; }
      .womanCollection .womanCollectionTop .womenCollectionTitle .womenCollectionTitleBorder div {
        width: -webkit-fill-available;
        height: 1px;
        background-color: #eaeaea;
        margin-top: 0.6rem;
        margin-bottom: 1rem; }
      .womanCollection .womanCollectionTop .womenCollectionTitle .womenCollectionTitleBorder div:nth-child(2) {
        height: 3px;
        background-color: #f16d7f; }
  .womanCollection .womanCollectionTop .womenCollectionTextTitle {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase; }
  .womanCollection .womanCollectionTop .womenCollectionText {
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 4rem; }
    @media (max-width: 767.98px) {
      .womanCollection .womanCollectionTop .womenCollectionText {
        font-size: 18px;
        margin-top: 2rem; } }
  .womanCollection .womanCollectionTop .womenCollectionFeatures {
    display: flex;
    justify-content: space-between;
    min-width: 335px;
    margin-top: 1.5rem; }
    @media (max-width: 400px) {
      .womanCollection .womanCollectionTop .womenCollectionFeatures {
        flex-direction: column;
        align-items: center; } }
    .womanCollection .womanCollectionTop .womenCollectionFeatures div {
      color: #b9b9b9;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase; }
      @media (max-width: 400px) {
        .womanCollection .womanCollectionTop .womenCollectionFeatures div:not(:last-child) {
          padding-bottom: 1rem; } }
      .womanCollection .womanCollectionTop .womenCollectionFeatures div span {
        color: #2f2f2f; }
  .womanCollection .womanCollectionTop .womenCollectionPrice {
    color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 2rem; }
.womanCollection .womanCollectionBottom {
  margin: 0 15rem 5rem 15rem; }
  @media (max-width: 1199px) {
    .womanCollection .womanCollectionBottom {
      margin: 5rem 10rem; } }
  @media (max-width: 991.98px) {
    .womanCollection .womanCollectionBottom {
      margin: 5rem; } }
  @media (max-width: 767.98px) {
    .womanCollection .womanCollectionBottom {
      margin: 3rem; } }
  .womanCollection .womanCollectionBottom .womanCollectionBottomChoose {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 575.98px) {
      .womanCollection .womanCollectionBottom .womanCollectionBottomChoose {
        flex-direction: column;
        align-items: center; } }
    @media (max-width: 575.98px) {
      .womanCollection .womanCollectionBottom .womanCollectionBottomChoose .womenCollectionChoose {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .womanCollection .womanCollectionBottom .womanCollectionBottomChoose .womenCollectionChoose:not(:last-child) {
          padding-bottom: 2rem; } }
    .womanCollection .womanCollectionBottom .womanCollectionBottomChoose .womenCollectionChoose div {
      color: #2f2f2f;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      padding-bottom: 1rem; }
    .womanCollection .womanCollectionBottom .womanCollectionBottomChoose .womenCollectionChoose select, .womanCollection .womanCollectionBottom .womanCollectionBottomChoose .womenCollectionChoose input {
      color: #bcbcbc;
      font-size: 13px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      background: none;
      padding: 0.5rem 1rem;
      width: 144px; }
      .womanCollection .womanCollectionBottom .womanCollectionBottomChoose .womenCollectionChoose select:focus, .womanCollection .womanCollectionBottom .womanCollectionBottomChoose .womenCollectionChoose input:focus {
        outline: none;
        border-color: #f16d7f; }
    .womanCollection .womanCollectionBottom .womanCollectionBottomChoose .womenCollectionChoose input {
      padding: 0.3rem 1rem; }

.alsoTitle {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }

/*# sourceMappingURL=one.css.map */
