@import "variables";
@import "header";
@import "subscribe";
@import "footer";
@import "stylesIndex";
@import "stylesProduct";
@import "stylesShoppingCart";
@import "stylesSinglePage";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/*-------------------------------NEW ARRIVALS ST-----------------------------*/
.newArrivalsBg {
  background-color: #f8f3f4;
}

.newArrivals {
  color: $mainColor;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.newArrivalsPath a {
  font-size: $mainFontSize;
  line-height: 20px;
  text-transform: uppercase;
  color: #636363;
  font-weight: 300;
  text-decoration: none;

  &:after {
    content: "/";
  }

  &:last-child:after {
    content: "";
  }

  &:last-child {
    font-weight: 700;
    color: $mainColor;
  }
}
/*-------------------------------NEW ARRIVAL END-----------------------------*/







