@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


/*-------------------------------ALSO END-----------------------------*/


.carousel {
  background-color: #f7f7f7;
  height: 777px;

  .carousel-item {
    img {
      margin: auto;
    }
  }
}

.carousel-control-prev, .carousel-control-next {
  width: auto;

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 47px;
    height: 47px;
    background-color: #2a2a2a;
    background-size: 24px;
  }
}

.womanCollectionContainer {
  position: relative;
  top: -80px;
  background-color: #ffffff;
}

.womanCollection {

  button {
    @include button($btnIconsTextAndBgColor, $mainColor);
    border-color: $mainColor;
    width: -webkit-fill-available;

    &:hover {
      @include button($mainColor, $btnIconsTextAndBgColor);
    }
  }

  .womanCollectionTop {
    padding-bottom: 3rem;
    margin: 5rem 15rem;

    @media (max-width: 1199px) {
      margin: 5rem 10rem;
    }

    @media (max-width: 991.98px) {
      margin: 5rem;
    }

    @media (max-width: 767.98px) {
      margin: 3rem;
    }

    .womenCollectionTitle {
      color: $mainColor;
      font-size: $mainFontSize;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;

      .womenCollectionTitleBorder {
        display: flex;
        align-items: center;

        div {
          width: -webkit-fill-available;
          height: 1px;
          background-color: #eaeaea;
          margin-top: 0.6rem;
          margin-bottom: 1rem;
        }

        div:nth-child(2) {
          height: 3px;
          background-color: $mainColor;
        }
      }
    }

    .womenCollectionTextTitle {
      color: #4d4d4d;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
    }

    .womenCollectionText {
      color: #5e5e5e;
      font-size: $mainFontSize;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
      margin-top: 4rem;

      @media (max-width: 767.98px) {
        font-size: 18px;
        margin-top: 2rem;
      }
    }

    .womenCollectionFeatures {
      display: flex;
      justify-content: space-between;
      min-width: 335px;
      margin-top: 1.5rem;

      @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
      }

      div {
        color: #b9b9b9;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;

        @media (max-width: 400px) {
          &:not(:last-child) {
            padding-bottom: 1rem;
          }
        }

        span {
          color: #2f2f2f;
        }
      }
    }

    .womenCollectionPrice {
      color: #ef5b70;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      margin-top: 2rem;
    }
  }

  .womanCollectionBottom {
    margin: 0 15rem 5rem 15rem;

    @media (max-width: 1199px) {
      margin: 5rem 10rem;
    }

    @media (max-width: 991.98px) {
      margin: 5rem;
    }

    @media (max-width: 767.98px) {
      margin: 3rem;
    }

    .womanCollectionBottomChoose {
      display: flex;
      justify-content: space-between;

      @media (max-width: 575.98px) {
        flex-direction: column;
        align-items: center;
      }

      .womenCollectionChoose {

        @media (max-width: 575.98px) {
          display: flex;
          flex-direction: column;
          align-items: center;

          &:not(:last-child) {
            padding-bottom: 2rem;
          }
        }

        div {
          color: #2f2f2f;
          font-size: $mainFontSize;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
          padding-bottom: 1rem;
        }

        select, input {
          color: #bcbcbc;
          font-size: 13px;
          font-weight: 400;
          line-height: 24px;
          text-transform: uppercase;
          border: 1px solid #eaeaea;
          background-color: #ffffff;
          background: none;
          padding: 0.5rem 1rem;
          width: 144px;

          &:focus {
            outline: none;
            border-color: $mainColor;
          }
        }

        input {
          padding: 0.3rem 1rem;
        }
      }
    }
  }
}

.alsoTitle {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
