//COLORS
$mainColor: #f16d7f;
$colorText: #222222;
$caretDown: #a4a4a4;
$buttonsHoverDropBg: #ddd;
$inputColorBorder: #e6e6e6;
$lineColor: #ececec;
$btnIconsTextAndBgColor: #ffffff;
$footerTextColor: #222224;


//FONTS
$mainFontSize: 14px;
$titlesFontSize: 16px;

//mixins
@mixin button($_bgColor, $_textColor) {
  background-color: $_bgColor;
  color: $_textColor;
}

